[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/mmedina/try/Calculator/Massive_Calculator.py
GenericName[en_US]=
GenericName=
Icon=/var/www/html/Massive_Calculator.web/images/massive.png
MimeType=
Name=Massive Calculator
Path=/home/mmedina/try/Calculator/Massive_Calculator.py
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
