Package: Calculator
Version: 1.0
Section: Education
Priority: optional
Architecture: all
Depends: python:any (>= 2.7~), python:any (<< 2.8)
Pre-Depends: 
Install-Size: 
Maintainer: Marcus Medina 106733
Provides: Massive_Calculator
Replaces:
Description: Terminal Based Massive Calculator.
